<!Doctype HTML>

%head
  %title Stair Climb

%body

  %nav{:id=>"menu", :role=>"navigation"}
    %ul
      %li
        %a Home
      %li
        %a Registration
      %li
        %a Give
      %li
        %a The Climb (Faq)
      %li
        %a Sponsor the climb
      %li
        %a Wall of heroes
      %li
        %a Media gallery
      %li
        %a Firefighter
        %div Aid
      %li
        .div{:id=> "social-media-icon"}

  %header
    %h1 2014
    %h1 Stair Climb
    %span September 7th san diego hilton bayfront
    %input{:type=> "button", :id=> "register", :value=>"Register"}
    %input{:type=> "button", :id=> "give", :value=>"Give"}
    %input{:type=> "button", :id=> "sponsor", :value=>"Sponsor"}

  %main
    %section{:id=>"highlight-event"}
      %header
        %p On September 11th 2001
        %p ------------403---------
        %p{:id=> "event-heading"} Emergency Responders
        %p Made the ultimate sacrifice in the performance of their sworn duty to protect life. Such sacrifices continue today.
      %div
        %aside
          %div
            %img{:id=>"we-climb-for", :alt=>"we-climb-for", :src=>""}
            %img{:id=>"we-will-climb", :alt=>"we-will-climb", :src=>""}
            %img{:id=>"we-climb-to", :alt=>"we-climb-to", :src=>""}
        %div{:id=>"fund-raised-benefit"}
          %img{:id=>"fund-raised-benefit-slides", :alt=>"fund-raised-benefit-slides", :src=>""}
          %aside
            %p Fund raised will benefit
            %p FireFighterAid (Formerly teh San Diego FireFighters' Benevolent Fund,) the charity which cares for FireFighters and families through sickness, distress, and death.
            %a{:id=> "more-about-the-climb"}

    %section{:id=>"register-now"}
      %header
        %h1 Join the cause
        %input{:id=>"give-now", :value=>"Give Now", :type=>"button"}
        %div{:id=>"social-media"}
      %div
        %p 501 Climber spaces left
        %aside{:id=>"register-aside"}

    %section{:id=> 'volunteer-score-board'}
      %header
        %h1 Volunteer for the stair climb event
        %p build your own web page, and collect donations
      %div
        %div{:id=>"score-board"}
          %span{:id=>"top-climbers"}
          %time{:id=>"current-date"} DATE 02/17/2014
          %time{:id=>"current-time"} TIME 5:43 PM

    %section{:id=>"top-10-donors"}
      %header
        %h1 Top 10 donors
      %div
        %table
          %tr
            %th Donar Name
            %th Amount Donated
            %th Team Name
          %tr
            %td
            %td
            %td

    %section{:id=>"honor-team"}
      %header
        %h1 OUT 2013 HONOR TEAM
        %img{:id=>"honor-team-image", :alt=>"home-team", :src=>""}
      %div
        %table
          %tr
            %th Team Name
            %th Captain
            %th Amount Raised
          %tr
            %td
            %td
            %td

    %section{:id=>"wall-of-hereos"}
      %header
        %h1 Wall of Hereos
        %a See full wall

    %section{:id=>"sponsors"}
      %header
        %h1 Sponsors
      %div
        %div{:id=>"sponsors-list"}


  %footer
    %div
      %span
        %a Be a hero to a hero
        %input{:id=>"Donate", :value=>"Donate",:type=>"button"}
      %span
        %a Register for
        %input{:id=>"register-for-the-climb", :value=>"The climb",:type=>"button"}
      %span
        %a Learn more about
        %input{:id=>"learn-about-freefighteraid", :value=>"FreeFighterAid",:type=>"button"}
    %div
      %span{:id=>"social-media"}

